@charset "UTF-8";

.edit-post-visual-editor:not(.is-loaded)::before,
.edit-post-visual-editor:not(.is-loaded)::after {
  position: absolute;
  z-index: 999;
  content: '';
}
.edit-post-visual-editor:not(.is-loaded)::before {
  background-color: rgba(255, 255, 255, 0.85);
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.edit-post-visual-editor:not(.is-loaded)::after {
  animation: loading 0.765s infinite ease;
  border: 4px solid transparent;
  border-right-color: #007cba;
  margin: -2rem 0 0 -2rem;
  box-sizing: border-box;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  left: 50%;
  top: 25%;
}

@keyframes loading {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.tablenav {
  align-items: center;
  padding-top: 0;
  margin: 1rem 0;
  display: flex;
  height: auto;
}

.tablenav .actions,
p.search-box {
  flex-direction: row;
  display: flex;
}

.headline-dark:not(.inline) em,
.headline-dark:not(.inline) strong,
.headline-light:not(.inline) em,
.headline-light:not(.inline) strong {
  clear: both;
}

.headline-dark,
.headline-light, fieldset, form label,
.block-form label, select,
textarea,
textarea:disabled,
.edit-post-sidebar textarea,
.components-textarea-control__input,
input:not([type='checkbox']):not([type='radio']):not([type='range']):not([type='button']):not([type='submit']),
.psuedo-number::after {
  margin-left: 0;
}

.extends-margin-left {
  margin-left: 0;
}

.headline-dark,
.headline-light, fieldset, form label,
.block-form label, select,
textarea,
textarea:disabled,
.edit-post-sidebar textarea,
.components-textarea-control__input,
input:not([type='checkbox']):not([type='radio']):not([type='range']):not([type='button']):not([type='submit']),
.psuedo-number::after {
  margin-right: 0;
}

.extends-margin-right {
  margin-right: 0;
}

.headline-dark,
.headline-light, fieldset, form label,
.block-form label, select,
textarea,
textarea:disabled,
.edit-post-sidebar textarea,
.components-textarea-control__input,
input:not([type='checkbox']):not([type='radio']):not([type='range']):not([type='button']):not([type='submit']),
.psuedo-number::after, h1, .h1, h2, .h2, h3, .h3, h4, .h4, p, .p {
  margin-top: 0;
}

.extends-margin-top {
  margin-top: 0;
}

.headline-dark,
.headline-light, fieldset, form label,
.block-form label, select,
textarea,
textarea:disabled,
.edit-post-sidebar textarea,
.components-textarea-control__input,
input:not([type='checkbox']):not([type='radio']):not([type='range']):not([type='button']):not([type='submit']),
.psuedo-number::after {
  margin-bottom: 0;
}

.extends-margin-bottom {
  margin-bottom: 0;
}


.btn-inline + .btn-inline {
  margin-left: 16px;
  margin-left: 1rem;
}


h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}


form h4,
form .h4,
.block-form h4,
.block-form .h4 {
  margin-bottom: 16px !important;
  margin-bottom: 1rem !important;
}


p,
.p,
ul:not([class]):not([id]),
.ul,
.editor-styles-wrapper ul,
.components-autocomplete ul,
.block-library-list .editor-rich-text__tinymce,
.block-library-list .editor-rich-text__tinymce ul,
ul.editor-rich-text__tinymce {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}

fieldset, form label,
.block-form label, label.input-label-wrapper[data-type='checkbox'] > span {
  padding-left: 0;
}

fieldset, form label,
.block-form label, label.input-label-wrapper[data-type='checkbox'] > span {
  padding-right: 0;
}

fieldset, form label,
.block-form label, label.input-label-wrapper[data-type='checkbox'] > span,
input:not([type='checkbox']):not([type='radio']):not([type='range']):not([type='button']):not([type='submit']) {
  padding-top: 0;
}

fieldset, form label,
.block-form label, label.input-label-wrapper[data-type='checkbox'] > span,
input:not([type='checkbox']):not([type='radio']):not([type='range']):not([type='button']):not([type='submit']) {
  padding-bottom: 0;
}


select,
textarea,
textarea:disabled,
.edit-post-sidebar textarea,
.components-textarea-control__input,
input:not([type='checkbox']):not([type='radio']):not([type='range']):not([type='button']):not([type='submit']),
.psuedo-number::after {
  padding-left: 16px;
  padding-left: 1rem;
}


input:not([type='checkbox']):not([type='radio']):not([type='range']):not([type='number']):not([type='button']):not([type='submit']) {
  padding-right: 16px;
  padding-right: 1rem;
}

.btn-full, fieldset, form label,
.block-form label, form label > span,
.block-form label > span, select:not(.auto-width),
textarea:not(.auto-width),
textarea:disabled:not(.auto-width),
.edit-post-sidebar textarea:not(.auto-width),
.components-textarea-control__input:not(.auto-width),
input:not([type='checkbox']):not([type='radio']):not([type='range']):not([type='button']):not([type='submit']):not(.auto-width),
.psuedo-number:not(.auto-width)::after {
  width: 100%;
}

select,
textarea,
textarea:disabled,
.edit-post-sidebar textarea,
.components-textarea-control__input,
input:not([type='checkbox']):not([type='radio']):not([type='range']):not([type='button']):not([type='submit']),
.psuedo-number::after {
  max-width: 100%;
}


ul:not([class]):not([id]) li,
.ul li,
.editor-styles-wrapper ul li,
.components-autocomplete ul li,
.block-library-list .editor-rich-text__tinymce li,
ul.editor-rich-text__tinymce li,
.btn,
form,
.block-form,
.select-wrapper,
.psuedo-number {
  position: relative;
}


.select-wrapper::after,
ul:not([class]):not([id]) li::before,
.ul li::before,
.editor-styles-wrapper ul li::before,
.components-autocomplete ul li::before,
.block-library-list .editor-rich-text__tinymce li::before,
ul.editor-rich-text__tinymce li::before,
.psuedo-number::after {
  position: absolute;
}


.headline-dark:not(.inline) em,
.headline-dark:not(.inline) strong,
.headline-light:not(.inline) em,
.headline-light:not(.inline) strong,
form,
.block-form,
form label,
.block-form label,
form label > span,
.block-form label > span,
select,
textarea,
textarea:disabled,
.edit-post-sidebar textarea,
.components-textarea-control__input,
input:not([type='checkbox']):not([type='radio']):not([type='range']):not([type='button']):not([type='submit']),
.psuedo-number::after {
  display: block;
}


.btn,
.number-wrapper,
label.input-label-wrapper[data-type='checkbox'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}


.btn-inline {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}


h1:empty,
.h1:empty,
h2:empty,
.h2:empty,
h3:empty,
.h3:empty,
h4:empty,
.h4:empty,
p:empty,
.p:empty {
  display: none;
}


.btn,
.btn > span,
.btn > i[class*='fa'],
label.input-label-wrapper[data-type='checkbox'] {
  float: left;
}


.btn-full {
  text-align: center;
}


h1,
.h1,
h4,
.h4,
.headline-dark,
.headline-light,
.btn,
form label[for],
.block-form label[for] {
  text-transform: uppercase;
}


p a:not(.btn):hover,
p a:not(.btn):focus,
.p a:not(.btn):hover,
.p a:not(.btn):focus {
  text-decoration: underline;
}


p a:not(.btn),
.p a:not(.btn),
.btn {
  text-decoration: none;
}


.btn {
  font-family: "Open Sans", sans-serif;
}


p,
.p,
ul:not([class]):not([id]) li,
.ul li,
.editor-styles-wrapper ul li,
.components-autocomplete ul li,
.block-library-list .editor-rich-text__tinymce li,
ul.editor-rich-text__tinymce li,
.headline-dark,
.headline-light,
.headline-dark em > small,
.headline-dark strong > small,
.headline-light em > small,
.headline-light strong > small,
select,
textarea,
textarea:disabled,
.edit-post-sidebar textarea,
.components-textarea-control__input,
input:not([type='checkbox']):not([type='radio']):not([type='range']):not([type='button']):not([type='submit']),
.psuedo-number::after {
  font-weight: 300;
}


form label > span > small,
.block-form label > span > small {
  font-weight: 400;
}


h3,
.h3,
p a:not(.btn),
.p a:not(.btn),
form label > span,
.block-form label > span {
  font-weight: 500;
}


h4,
.h4,
form label[for],
.block-form label[for] {
  font-weight: 600;
}


h1,
.h1,
h2,
.h2,
.headline-dark em,
.headline-dark strong,
.headline-light em,
.headline-light strong {
  font-weight: 700;
}

.headline-dark em,
.headline-dark strong,
.headline-light em,
.headline-light strong {
  font-style: normal;
}


select,
textarea,
textarea:disabled,
.edit-post-sidebar textarea,
.components-textarea-control__input,
input:not([type='checkbox']):not([type='radio']):not([type='range']):not([type='button']):not([type='submit']),
.psuedo-number::after {
  font-size: 16px;
  font-size: 1rem;
}


.select-wrapper::after {
  -webkit-transform: translate3d(0, -50%, 0);
     -moz-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
}


.select-wrapper::after {
  pointer-events: none;
}


.btn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

ul:not([class]):not([id]) li::before, .ul li::before, .editor-styles-wrapper ul li::before, .components-autocomplete ul li::before, .block-library-list .editor-rich-text__tinymce li::before, ul.editor-rich-text__tinymce li::before,
.psuedo-number::after {
  left: 0%;
}


.psuedo-number::after {
  right: 0%;
}

ul:not([class]):not([id]) li::before, .ul li::before, .editor-styles-wrapper ul li::before, .components-autocomplete ul li::before, .block-library-list .editor-rich-text__tinymce li::before, ul.editor-rich-text__tinymce li::before,
.psuedo-number::after {
  top: 0%;
}

.select-wrapper::after {
  top: 50%;
}

fieldset {
  border-style: none;
}

.btn, select,
textarea,
textarea:disabled,
.edit-post-sidebar textarea,
.components-textarea-control__input,
input:not([type='checkbox']):not([type='radio']):not([type='range']):not([type='button']):not([type='submit']),
.psuedo-number::after {
  border-style: solid;
}

.btn, select, label.input-label-wrapper[data-type='checkbox'] > span, label.input-label-wrapper[data-type='checkbox'] input[type='checkbox'] {
  cursor: pointer;
}

select[disabled],
textarea[disabled],
textarea:disabled[disabled],
.edit-post-sidebar textarea[disabled],
.components-textarea-control__input[disabled],
input:not([type='checkbox']):not([type='radio']):not([type='range']):not([type='button']):not([type='submit'])[disabled],
.psuedo-number[disabled]::after {
  cursor: not-allowed;
}

ul:not([class]):not([id]), .ul, .editor-styles-wrapper ul,
.components-autocomplete ul,
.block-library-list .editor-rich-text__tinymce,
.block-library-list .editor-rich-text__tinymce ul,
ul.editor-rich-text__tinymce {
  list-style: none;
}

label.input-label-wrapper[data-type='checkbox'] {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.btn-full {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

label.input-label-wrapper[data-type='checkbox'] {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


.btn.btn-style-light,
.btn.btn-style-light-outline:hover,
.btn.btn-style-light-outline:focus,
select,
textarea,
textarea:disabled,
.edit-post-sidebar textarea,
.components-textarea-control__input,
input:not([type='checkbox']):not([type='radio']):not([type='range']):not([type='button']):not([type='submit']),
.psuedo-number::after {
  background-color: #FFFFFF;
}

.btn.btn-style-primary-outline, .btn.btn-style-light, .btn.btn-style-light-outline:hover, .btn.btn-style-light-outline:focus, .btn.btn-style-light-outline {
  border-color: #FFFFFF;
}

.btn.btn-style-primary, .btn.btn-style-primary-outline, .btn.btn-style-secondary, .btn.btn-style-secondary-outline:hover, .btn.btn-style-secondary-outline:focus, .btn.btn-style-danger-outline:hover, .btn.btn-style-danger-outline:focus, .btn.btn-style-light-outline, .btn.btn-style-danger {
  color: #FFFFFF;
}

.headline-dark, .btn.btn-style-light, .btn.btn-style-light-outline:hover, .btn.btn-style-light-outline:focus {
  color: #3F3F3F;
}


.headline-light {
  color: #AAAAAA;
}

.btn.btn-style-dark, .btn.btn-style-dark-outline {
  border-color: #999999;
}

.btn.btn-style-dark, .btn.btn-style-dark-outline {
  color: #666666;
}


.btn.btn-style-light-outline {
  background-color: transparent;
}

.select-wrapper:hover::after, .select-wrapper:focus::after {
  color: #3F3F3F;
}

ul:not([class]):not([id]) li > ul li::before, .ul li > ul li::before, .editor-styles-wrapper ul li > ul li::before, .components-autocomplete ul li > ul li::before, .block-library-list .editor-rich-text__tinymce li > ul li::before, .block-library-list .editor-rich-text__tinymce ul li > ul li::before, ul.editor-rich-text__tinymce li > ul li::before {
  color: #666666;
}


.btn.btn-style-danger {
  background-color: #F95738;
}

.btn.btn-style-danger, .btn.btn-style-danger-outline, select[invalid],
textarea[invalid],
textarea:disabled[invalid],
.edit-post-sidebar textarea[invalid],
.components-textarea-control__input[invalid],
input:not([type='checkbox']):not([type='radio']):not([type='range']):not([type='button']):not([type='submit'])[invalid],
.psuedo-number[invalid]::after {
  border-color: #F95738;
}

.btn.btn-style-danger-outline {
  color: #F95738;
}


.btn.btn-style-primary {
  background-color: #EAA740;
}

.btn.btn-style-primary {
  border-color: #EAA740;
}

p a:not(.btn), .p a:not(.btn), ul:not([class]):not([id]) li::before, .ul li::before, .editor-styles-wrapper ul li::before, .components-autocomplete ul li::before, .block-library-list .editor-rich-text__tinymce li::before, ul.editor-rich-text__tinymce li::before, .headline-dark em,
.headline-dark strong,
.headline-light em,
.headline-light strong, .btn.btn-style-dark-outline:hover, .btn.btn-style-dark-outline:focus {
  color: #EAA740;
}


.btn.btn-style-secondary,
.btn.btn-style-secondary-outline:hover,
.btn.btn-style-secondary-outline:focus,
.btn.btn-style-danger-outline:hover,
.btn.btn-style-danger-outline:focus {
  background-color: #009FFD;
}

.btn.btn-style-secondary, .btn.btn-style-secondary-outline:hover, .btn.btn-style-secondary-outline:focus, .btn.btn-style-danger-outline:hover, .btn.btn-style-danger-outline:focus, .btn.btn-style-secondary-outline {
  border-color: #009FFD;
}

.btn.btn-style-secondary-outline {
  color: #009FFD;
}

form label[for], .block-form label[for], select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
textarea:disabled::-webkit-input-placeholder,
.edit-post-sidebar textarea::-webkit-input-placeholder,
.components-textarea-control__input::-webkit-input-placeholder,
input:not([type='checkbox']):not([type='radio']):not([type='range']):not([type='button']):not([type='submit'])::-webkit-input-placeholder, select[disabled],
textarea[disabled],
textarea:disabled[disabled],
.edit-post-sidebar textarea[disabled],
.components-textarea-control__input[disabled],
input:not([type='checkbox']):not([type='radio']):not([type='range']):not([type='button']):not([type='submit'])[disabled],
.psuedo-number[disabled]::after {
  color: #C0C0C0;
}

form label[for], .block-form label[for], select:-moz-placeholder,
textarea:-moz-placeholder,
textarea:disabled:-moz-placeholder,
.edit-post-sidebar textarea:-moz-placeholder,
.components-textarea-control__input:-moz-placeholder,
input:not([type='checkbox']):not([type='radio']):not([type='range']):not([type='button']):not([type='submit']):-moz-placeholder, select[disabled],
textarea[disabled],
textarea:disabled[disabled],
.edit-post-sidebar textarea[disabled],
.components-textarea-control__input[disabled],
input:not([type='checkbox']):not([type='radio']):not([type='range']):not([type='button']):not([type='submit'])[disabled],
.psuedo-number[disabled]::after {
  color: #C0C0C0;
}

form label[for], .block-form label[for], select::-moz-placeholder,
textarea::-moz-placeholder,
textarea:disabled::-moz-placeholder,
.edit-post-sidebar textarea::-moz-placeholder,
.components-textarea-control__input::-moz-placeholder,
input:not([type='checkbox']):not([type='radio']):not([type='range']):not([type='button']):not([type='submit'])::-moz-placeholder, select[disabled],
textarea[disabled],
textarea:disabled[disabled],
.edit-post-sidebar textarea[disabled],
.components-textarea-control__input[disabled],
input:not([type='checkbox']):not([type='radio']):not([type='range']):not([type='button']):not([type='submit'])[disabled],
.psuedo-number[disabled]::after {
  color: #C0C0C0;
}

form label[for], .block-form label[for], select:-ms-input-placeholder,
textarea:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder,
.edit-post-sidebar textarea:-ms-input-placeholder,
.components-textarea-control__input:-ms-input-placeholder,
input:not([type='checkbox']):not([type='radio']):not([type='range']):not([type='button']):not([type='submit']):-ms-input-placeholder, select[disabled],
textarea[disabled],
textarea:disabled[disabled],
.edit-post-sidebar textarea[disabled],
.components-textarea-control__input[disabled],
input:not([type='checkbox']):not([type='radio']):not([type='range']):not([type='button']):not([type='submit'])[disabled],
.psuedo-number[disabled]::after {
  color: #C0C0C0;
}

form label[for], .block-form label[for], select::-ms-input-placeholder,
textarea::-ms-input-placeholder,
textarea:disabled::-ms-input-placeholder,
.edit-post-sidebar textarea::-ms-input-placeholder,
.components-textarea-control__input::-ms-input-placeholder,
input:not([type='checkbox']):not([type='radio']):not([type='range']):not([type='button']):not([type='submit'])::-ms-input-placeholder, select[disabled],
textarea[disabled],
textarea:disabled[disabled],
.edit-post-sidebar textarea[disabled],
.components-textarea-control__input[disabled],
input:not([type='checkbox']):not([type='radio']):not([type='range']):not([type='button']):not([type='submit'])[disabled],
.psuedo-number[disabled]::after {
  color: #C0C0C0;
}

form label[for], .block-form label[for], select::placeholder,
textarea::placeholder,
textarea:disabled::placeholder,
.edit-post-sidebar textarea::placeholder,
.components-textarea-control__input::placeholder,
input:not([type='checkbox']):not([type='radio']):not([type='range']):not([type='button']):not([type='submit'])::placeholder, select[disabled],
textarea[disabled],
textarea:disabled[disabled],
.edit-post-sidebar textarea[disabled],
.components-textarea-control__input[disabled],
input:not([type='checkbox']):not([type='radio']):not([type='range']):not([type='button']):not([type='submit'])[disabled],
.psuedo-number[disabled]::after {
  color: #C0C0C0;
}

select,
textarea,
textarea:disabled,
.edit-post-sidebar textarea,
.components-textarea-control__input,
input:not([type='checkbox']):not([type='radio']):not([type='range']):not([type='button']):not([type='submit']),
.psuedo-number::after {
  border-color: #DADADA;
}

.select-wrapper::after {
  color: #DADADA;
}

select:not([invalid]):focus,
textarea:not([invalid]):focus,
textarea:disabled:not([invalid]):focus,
.edit-post-sidebar textarea:not([invalid]):focus,
.components-textarea-control__input:not([invalid]):focus,
input:not([type='checkbox']):not([type='radio']):not([type='range']):not([type='button']):not([type='submit']):not([invalid]):focus,
.psuedo-number:focus:not([invalid])::after {
  border-color: #738290;
}

h1, .h1 {
  font-size: 32px;
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  h1, .h1 {
    font-size: -webkit-calc(32px + 16 * ((100vw - 768px) / 672));
    font-size: -moz-calc(32px + 16 * ((100vw - 768px) / 672));
    font-size: calc(32px + 16 * ((100vw - 768px) / 672));
  }
}

@media screen and (min-width: 1440px) {
  h1, .h1 {
    font-size: 48px;
    font-size: 3rem;
  }
}

h2, .h2 {
  font-size: 32px;
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  h2, .h2 {
    font-size: -webkit-calc(32px + 8 * ((100vw - 768px) / 672));
    font-size: -moz-calc(32px + 8 * ((100vw - 768px) / 672));
    font-size: calc(32px + 8 * ((100vw - 768px) / 672));
  }
}

@media screen and (min-width: 1440px) {
  h2, .h2 {
    font-size: 40px;
    font-size: 2.5rem;
  }
}

h3, .h3 {
  font-size: 18.4px;
  font-size: 1.15rem;
}

@media screen and (min-width: 768px) {
  h3, .h3 {
    font-size: -webkit-calc(18.4px + 12.4 * ((100vw - 768px) / 672));
    font-size: -moz-calc(18.4px + 12.4 * ((100vw - 768px) / 672));
    font-size: calc(18.4px + 12.4 * ((100vw - 768px) / 672));
  }
}

@media screen and (min-width: 1440px) {
  h3, .h3 {
    font-size: 30.8px;
    font-size: 1.925rem;
  }
}

h4, .h4 {
  font-size: 16.8px;
  font-size: 1.05rem;
}

@media screen and (min-width: 768px) {
  h4, .h4 {
    font-size: -webkit-calc(16.8px + 3.6 * ((100vw - 768px) / 672));
    font-size: -moz-calc(16.8px + 3.6 * ((100vw - 768px) / 672));
    font-size: calc(16.8px + 3.6 * ((100vw - 768px) / 672));
  }
}

@media screen and (min-width: 1440px) {
  h4, .h4 {
    font-size: 20.4px;
    font-size: 1.275rem;
  }
}

p, .p {
  line-height: 1.65;
}

p, .p {
  font-size: 13.6px;
  font-size: 0.85rem;
}

@media screen and (min-width: 768px) {
  p, .p {
    font-size: -webkit-calc(13.6px + 2.4 * ((100vw - 768px) / 672));
    font-size: -moz-calc(13.6px + 2.4 * ((100vw - 768px) / 672));
    font-size: calc(13.6px + 2.4 * ((100vw - 768px) / 672));
  }
}

@media screen and (min-width: 1440px) {
  p, .p {
    font-size: 16px;
    font-size: 1rem;
  }
}

p + ul:not([class]):not([id]) li,
p + .ul li,
.editor-styles-wrapper p + ul li,
.components-autocomplete p + ul li,
.block-library-list p + .editor-rich-text__tinymce li,
.block-library-list .editor-rich-text__tinymce p + ul li,
p + ul.editor-rich-text__tinymce li, .p + ul:not([class]):not([id]) li,
.p + .ul li,
.editor-styles-wrapper .p + ul li,
.components-autocomplete .p + ul li,
.block-library-list .p + .editor-rich-text__tinymce li,
.block-library-list .editor-rich-text__tinymce .p + ul li,
.p + ul.editor-rich-text__tinymce li {
  font-size: 14px;
  font-size: 0.875rem;
}

ul:not([class]):not([id]) li, .ul li, .editor-styles-wrapper ul li, .components-autocomplete ul li, .block-library-list .editor-rich-text__tinymce li, ul.editor-rich-text__tinymce li {
  padding-left: 16px;
  padding-left: 1rem;
  line-height: 1.65;
}

ul:not([class]):not([id]) li, .ul li, .editor-styles-wrapper ul li, .components-autocomplete ul li, .block-library-list .editor-rich-text__tinymce li, ul.editor-rich-text__tinymce li {
  font-size: 13.6px;
  font-size: 0.85rem;
}

@media screen and (min-width: 768px) {
  ul:not([class]):not([id]) li, .ul li, .editor-styles-wrapper ul li, .components-autocomplete ul li, .block-library-list .editor-rich-text__tinymce li, ul.editor-rich-text__tinymce li {
    font-size: -webkit-calc(13.6px + 2.4 * ((100vw - 768px) / 672));
    font-size: -moz-calc(13.6px + 2.4 * ((100vw - 768px) / 672));
    font-size: calc(13.6px + 2.4 * ((100vw - 768px) / 672));
  }
}

@media screen and (min-width: 1440px) {
  ul:not([class]):not([id]) li, .ul li, .editor-styles-wrapper ul li, .components-autocomplete ul li, .block-library-list .editor-rich-text__tinymce li, ul.editor-rich-text__tinymce li {
    font-size: 16px;
    font-size: 1rem;
  }
}

/* ul:not([class]):not([id]) li::before, .ul li::before, .editor-styles-wrapper ul li::before, .components-autocomplete ul li::before, .block-library-list .editor-rich-text__tinymce li::before, ul.editor-rich-text__tinymce li::before {
  line-height: 26.4px;
  line-height: 1.65rem;
  font-size: 32px;
  font-size: 2rem;
  height: 26.4px;
  height: 1.65rem;
  width: 16px;
  width: 1rem;
  content: "\2022";
} */

ul:not([class]):not([id]) li + li, .ul li + li, .editor-styles-wrapper ul li + li, .components-autocomplete ul li + li, .block-library-list .editor-rich-text__tinymce li + li, .block-library-list .editor-rich-text__tinymce ul li + li, ul.editor-rich-text__tinymce li + li {
  margin-top: 8px;
  margin-top: 0.5rem;
}

ul:not([class]):not([id]) li > ul, .ul li > ul, .editor-styles-wrapper ul li > ul, .components-autocomplete ul li > ul, .block-library-list .editor-rich-text__tinymce li > ul, .block-library-list .editor-rich-text__tinymce ul li > ul, ul.editor-rich-text__tinymce li > ul {
  margin-top: 8px;
  margin-top: 0.5rem;
}

.headline-dark em,
.headline-dark strong,
.headline-light em,
.headline-light strong {
  font-size: 125%;
}

.headline-dark em > small,
.headline-dark strong > small,
.headline-light em > small,
.headline-light strong > small {
  font-size: inherit;
}

.headline-dark + p,
.headline-dark + .p,
.headline-light + p,
.headline-light + .p {
  margin-top: 1.5rem;
}

.btn {
  border-width: 1px;
  border-width: 0.0625rem;
  font-size: 13px;
  font-size: 0.8125rem;
  opacity: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.275s cubic-bezier(0.95, 0.65, 0.15, 0.95), border-color 0.275s cubic-bezier(0.95, 0.65, 0.15, 0.95), opacity 0.275s cubic-bezier(0.95, 0.65, 0.15, 0.95), color 0.275s cubic-bezier(0.95, 0.65, 0.15, 0.95);
  -o-transition: background-color 0.275s cubic-bezier(0.95, 0.65, 0.15, 0.95), border-color 0.275s cubic-bezier(0.95, 0.65, 0.15, 0.95), opacity 0.275s cubic-bezier(0.95, 0.65, 0.15, 0.95), color 0.275s cubic-bezier(0.95, 0.65, 0.15, 0.95);
  -moz-transition: background-color 0.275s cubic-bezier(0.95, 0.65, 0.15, 0.95), border-color 0.275s cubic-bezier(0.95, 0.65, 0.15, 0.95), opacity 0.275s cubic-bezier(0.95, 0.65, 0.15, 0.95), color 0.275s cubic-bezier(0.95, 0.65, 0.15, 0.95);
  transition: background-color 0.275s cubic-bezier(0.95, 0.65, 0.15, 0.95), border-color 0.275s cubic-bezier(0.95, 0.65, 0.15, 0.95), opacity 0.275s cubic-bezier(0.95, 0.65, 0.15, 0.95), color 0.275s cubic-bezier(0.95, 0.65, 0.15, 0.95);
}

.btn > i[class*='fa'] {
  font-size: 150%;
  margin-right: 10px;
  margin-right: 0.625rem;
}

.btn.btn-rounded {
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-border-radius: 0.1875rem;
     -moz-border-radius: 0.1875rem;
          border-radius: 0.1875rem;
}

.btn.btn-style-primary-outline {
  background-color: transparent;
}

.btn.btn-style-primary-outline:hover, .btn.btn-style-primary-outline:focus {
  background-color: rgba(255, 255, 255, 0.25);
}

.btn.btn-style-dark-outline {
  background-color: rgba(255, 255, 255, 0.15);
}

.btn[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn {
  height: 48px;
  height: 3rem;
  padding-right: 32px;
  padding-right: 2rem;
  padding-left: 32px;
  padding-left: 2rem;
}

form .row + .row, .block-form .row + .row {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

form label[for], .block-form label[for] {
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  font-size: 13.6px;
  font-size: 0.85rem;
}

fieldset {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

form label > span,
.block-form label > span {
  padding-bottom: 8px;
  padding-bottom: 0.5rem;
}

form label > span > small,
.block-form label > span > small {
  color: #999999;
}

.select-wrapper::after {
  font-size: 16px;
  font-size: 1rem;
  font-family: 'Font Awesome 5 Pro';
  text-rendering: auto;
  font-variant: normal;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  content: "ï¸";
  line-height: 16px;
  line-height: 1rem;
  height: 16px;
  height: 1rem;
  width: 16px;
  width: 1rem;
  right: 16px;
  right: 1rem;
  -webkit-transition: color 0.275s cubic-bezier(0.95, 0.65, 0.15, 0.95);
  -o-transition: color 0.275s cubic-bezier(0.95, 0.65, 0.15, 0.95);
  -moz-transition: color 0.275s cubic-bezier(0.95, 0.65, 0.15, 0.95);
  transition: color 0.275s cubic-bezier(0.95, 0.65, 0.15, 0.95);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

select,
textarea,
textarea:disabled,
.edit-post-sidebar textarea,
.components-textarea-control__input,
input:not([type='checkbox']):not([type='radio']):not([type='range']):not([type='button']):not([type='submit']),
.psuedo-number::after {
  border-width: 2px;
  border-width: 0.125rem;
  -webkit-border-radius: 0px;
  -webkit-transition: border-color 0.275s cubic-bezier(0.95, 0.65, 0.15, 0.95);
  -o-transition: border-color 0.275s cubic-bezier(0.95, 0.65, 0.15, 0.95);
  -moz-transition: border-color 0.275s cubic-bezier(0.95, 0.65, 0.15, 0.95);
  transition: border-color 0.275s cubic-bezier(0.95, 0.65, 0.15, 0.95);
  -webkit-border-bottom-right-radius: 0;
     -moz-border-radius-bottomright: 0;
          border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
     -moz-border-radius-bottomleft: 0;
          border-bottom-left-radius: 0;
  -webkit-border-top-right-radius: 0;
     -moz-border-radius-topright: 0;
          border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
     -moz-border-radius-topleft: 0;
          border-top-left-radius: 0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

select:not([invalid]):focus,
textarea:not([invalid]):focus,
textarea:disabled:not([invalid]):focus,
.edit-post-sidebar textarea:not([invalid]):focus,
.components-textarea-control__input:not([invalid]):focus,
input:not([type='checkbox']):not([type='radio']):not([type='range']):not([type='button']):not([type='submit']):not([invalid]):focus,
.psuedo-number::after:not([invalid]):focus {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  outline: none;
}

input[type='number'] {
  width: auto !important;
  min-width: 0;
  padding-right: 0.25rem;
}

.number-wrapper input[type='number'] {
  -moz-appearance: textfield;
}

.number-wrapper input[type='number']::-webkit-inner-spin-button,
.number-wrapper input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.psuedo-number::after {
  content: attr(data-value);
}

textarea,
textarea:disabled,
.edit-post-sidebar textarea,
.components-textarea-control__input {
  padding-bottom: 12px;
  padding-bottom: 0.75rem;
  padding-top: 12px;
  padding-top: 0.75rem;
  resize: vertical;
}

label.input-label-wrapper[data-type='checkbox'] {
  width: auto;
}

label.input-label-wrapper[data-type='checkbox'] > span {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
     -moz-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: auto;
}

label.input-label-wrapper[data-type='checkbox'] input[type='checkbox'] {
  margin-right: 8px;
  margin-right: 0.5rem;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
     -moz-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

select, input:not([type='checkbox']):not([type='radio']):not([type='range']), .psuedo-number::after {
  line-height: 48px;
  line-height: 3rem;
  height: 48px;
  height: 3rem;
}

textarea {
  min-height: 96px;
  min-height: 6rem;
  height: 96px;
  height: 6rem;
}

.edit-post-sidebar .components-panel__body-title {
  border-bottom: 1px solid #E2E4E7;
}

.edit-post-sidebar .components-panel__body .sidebar-options-set {
  margin-bottom: 1.25rem;
  margin-top: 0.75rem;
  clear: both;
  width: 100%;
}

.edit-post-sidebar .components-panel__body .sidebar-options-set:first-of-type {
  margin-top: 1.5rem;
}

.edit-post-sidebar .components-panel__body .sidebar-options-set .inline-inputs {
  max-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.edit-post-sidebar .components-panel__body .sidebar-options-set .inline-inputs .inline-input {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
     -moz-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 5px 2px 0;
}

.edit-post-sidebar .components-panel__body .sidebar-options-set .inline-inputs .inline-input .components-base-control__label {
  margin-bottom: 0.05rem !important;
  font-size: .65rem !important;
  width: 100%;
}

.edit-post-sidebar .components-base-control__field .components-base-control__label {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-size: .75rem;
  font-weight: 600;
  color: #666666;
}

.edit-post-sidebar .components-text-control__input {
  padding-bottom: 0;
  padding-top: 0;
  height: 38px;
}

.edit-post-sidebar .link-input {
  position: relative;
  margin-bottom: -38px;
}

.edit-post-sidebar .link-input .components-base-control .components-text-control__input {
  padding-right: 46px;
}

.edit-post-sidebar .link-input .components-base-control + .editor-url-input__button {
  margin-top: -webkit-calc(-1.5rem + 4px);
  margin-top: -moz-calc(-1.5rem + 4px);
  margin-top: calc(-1.5rem + 4px);
}

.edit-post-sidebar .link-input .editor-url-input__button {
  position: relative;
  min-height: 38px;
  max-height: 38px;
  max-width: 100%;
  width: 100%;
  bottom: 0;
  right: 0;
}

.edit-post-sidebar .link-input .editor-url-input__button > button.components-button {
  position: absolute;
  margin-top: 1px;
  top: -100%;
  right: 0;
}

.edit-post-sidebar .link-input .editor-url-input__button .editor-url-input__button-modal {
  border: 1px solid #8d96a0;
  position: absolute;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  right: -1px;
  top: -100%;
  left: 0;
}

.edit-post-sidebar .link-input .editor-url-input__button .editor-url-input__button-modal .editor-url-input input {
  max-width: 100%;
  width: auto;
}

.wp-block {
  display: inline-block !important;
  max-width: 100% !important;
  width: 100% !important;
}

.block-form-field input:not([type='checkbox']),
.block-form-field input:not([type='radio']) {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.04);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.04);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.04);
  border-color: rgba(222, 222, 222, 0.75);
  background: rgba(255, 255, 255, 0.5);
  color: rgba(51, 51, 51, 0.5);
}

.class-wrapper {
  background-color: #FFFFFF;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  line-height: 1rem;
  padding: 0 .75rem;
  top: -0.65rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  left: 0.5rem;
}

.class-wrapper > span {
  line-height: 1rem;
  font-size: .65rem;
  font-weight: 600;
  color: #666666;
  height: 1rem;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
     -moz-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.class-wrapper > span::after {
  height: 1rem;
  width: 1px;
  margin: 0 0.5rem;
  background-color: #9DB1B2;
  content: '';
  float: right;
}

.class-wrapper::before, .class-wrapper::after {
  line-height: 1rem;
  height: 1rem;
}

.class-wrapper::before {
  text-transform: uppercase;
  margin-right: 0.5rem;
  font-size: .65rem;
  font-weight: 600;
  color: #666666;
}

.class-wrapper::after {
  content: attr(data-classes);
  font-size: .75rem;
  font-weight: 500;
  color: #9DB1B2;
}

.components-panel__header.edit-post-sidebar__panel-tabs ul {
  margin: 0;
}

.components-panel__header.edit-post-sidebar__panel-tabs ul li,
.components-panel__header.edit-post-sidebar__panel-tabs ul li + li {
  margin: 0;
}

.components-panel__header.edit-post-sidebar__panel-tabs ul li::before {
  display: none;
}