.wp-block[data-type="elements/spacer"] .block-spacer {
  background-color: #F8F8F8;
  text-transform: uppercase;
  font-family: sans-serif;
  text-align: center;
  line-height: 48px;
  font-size: .65rem;
  color: #888888;
  font-weight: 600;
  display: block;
  height: 48px;
  width: 100%;
}